## OS
.DS_Store
Thumbs.db

## IDEs and editors (repo-wide)
.idea/
*.iml
.vs/
*.DotSettings.user
.ReSharper*/
*.DotCover

## Logs and test output
logs/
*.log
coverage*/
TestResults/
.sonarqube/
.scannerwork/

## Repo-specific
/TestData/
